.divContain{
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .sectionForm{
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 24px;
    
        h1{
            font-size: 32px;
            font-weight: 400;
        }
    }
    

}