.containDiv{
    height: 100vh;

    display: flex;
    flex-direction: row;

    .main{
        height: 100%;
        width: 100%;

        padding: 24px;

        display: flex;
        flex-direction: column;
        gap: 24px;

        .title{
            font-size: 2rem;
            font-weight: 400;
        }

        .formSection{
            display: flex;
            flex-direction: column;
            gap: 24px;

            .formTitle{
                font-size: 1.3rem;
                font-weight: 400;
            }

            .form{
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
        }

        .sectionVirtualAmbient{
            display: flex;
            flex-direction: column;

            .titleAmbient{
                font-size: 1.5rem;
                font-weight: 400;

                margin-bottom: 24px;
            }
        }
    }
}