.divHeader{
    display: flex;

    .backLinkButton{
        display: none;
    }

    .divText{
        display: flex;
        flex-direction: column;
        justify-content: end;

        h1{
            font-weight: 400;
            
            height: 35px;
        }

        h2{
            font-size: 18px;
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 600px){
    .divHeader{
        display: flex;
        flex-direction: row;
        gap: 8px;

        .image{
            width: 60px;
            height: auto;
        }
    
        .backLinkButton{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .divText{
            h1{
                font-size: 30px;
            }

            h2{
                font-size: 15px;
            }
        }
    }
}