.containDiv{
    height: 100vh;

    display: flex;
    flex-direction: row;

    overflow: auto;

    .main{
        height: 100%;
        width: 100%;

        padding: 24px;

        display: flex;
        flex-direction: column;
        gap: 24px;

        .title{
            font-size: 2rem;
            font-weight: 400;
        }

        .formSection{
            display: flex;
            flex-direction: column;
            gap: 24px;

            .formTitle{
                font-size: 1.3rem;
                font-weight: 400;
            }

            .form{
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
        }

        .sectionVirtualAmbient{
            display: flex;
            flex-direction: column;

            .titleAmbient{
                font-size: 1.5rem;
                font-weight: 400;

                margin-bottom: 24px;
            }
        }

        .linkCreateAmbient{
            background-color: var(--bg-primaryColor);
            color: var(--font-secondaryColor);
            text-decoration: none;

            border-radius: 8px;

            padding: 16px;

            width: 100%;

            text-align: center;

            transition: all .3s ease;
            &:hover{
                background-color: var(--bg-fourthColor);
            }
        }
    }
}