.containDiv{
    height: 100vh;

    display: flex;
    flex-direction: row;

    .main{
        height: 100%;
        width: 100%;

        display: flex;

        .wellcomeSection{
            padding: 24px;

            display: flex;
            flex-direction: column;
            gap: 32px;

            .userName{
                font-size: 2rem;
                font-weight: 400;
            }
        }
        .image{
            width: 400px;
            height: 99%;
        }
    }
}

@media screen and (max-width: 600px){
    .containDiv{
        display: flex;
        flex-direction: column;

        .main{
            .wellcomeSection{
                .userName{
                    font-size: 24px;
                }
            }


            .image{
                display: none;
            }
        }

    }
}